.main-wrapper {
    width: 45%;
    height: 72%;
    position: relative;
    padding: 25px;
    margin: 2.5% auto 0 auto;
    background-color: rgb(10, 10, 10);
    border: 2px solid black;
    border-radius: 1%;
    user-select: none;
}

.main {
    display: flex;
    height: 85%;
}

.main-left-side {
    display: flex;
    width: 75%;
    align-items: center;
}

.main-right-side {
    width: 25%;
    padding: 40px 0;
    margin: 0 0 auto 20px;
    background-color: #161616;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 10px;
}